{{template "base" .}}
{{define "title"}}Forum{{end}}
{{define "username"}}{{.User.Username}}{{end}}
{{define "content"}}
<!-- Start: post-menu-container -->
<div class="container-fluid">
    <div class="float-end" id="divpost">
        <!-- Start: psotCategoryDiv -->
        <div class="d-flex flex-row">
            <!-- Start: postheader -->
            <div class="col-6">
                <h2 style="margin-top: 10px;margin-left: 10px;">All posts:</h2>
            </div><!-- End: postheader -->
            <!-- Start: categoryColumn -->
            <div class="col-6">
                <!-- Start: Category -->
                <form><select class="form-select" style="margin-top: 10px;" name="categoryFilter" id="dropdown"
                        onchange="filter()">
                        <optgroup label="Categories">
                            <option selected="">All Categories</option>
                            {{range .Threads}}
                            <option>{{ . }}</option>
                            {{end}}
                        </optgroup>
                    </select></form><!-- End: Category -->
            </div><!-- End: categoryColumn -->
        </div><!-- End: psotCategoryDiv -->
        {{template "post" .}}
    </div>
</div><!-- End: post-menu-container -->
{{end}}
{{define "script"}}
<!-- <script>
    const scrollTo = "{{.ScrollTo}}";
    post = document.getElementById('post-'+scrollTo);
    post.scrollIntoView({ block: "center" });
</script> -->
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = sessionStorage.getItem('scrollpos');
        if (scrollpos) {
            window.scrollTo({
                top: scrollpos,
                behavior: 'instant',
            });
            sessionStorage.removeItem('scrollpos');
        }
    });
    document.querySelectorAll('.reaction-form').forEach(item => {
        item.addEventListener('submit', event => {
            sessionStorage.setItem('scrollpos', window.scrollY);
        })
    })
</script>
{{end}}

<!-- <script>
    function filter() {
        var x = document.getElementById("dropdown").value;
        document.getElementById("posts").innerHTML = x;
    }
</script> -->