{{template "base" .}}
{{define "title"}}Forum{{end}}
{{define "username"}}{{.User.Username}}{{end}}
{{define "content"}}
<!-- Start: post-menu-container -->
<div class="container-fluid">
    <div class="float-end" id="divpost">
        <!-- Start: psotCategoryDiv -->
        <div class="d-flex flex-row">
            <!-- Start: postheader -->
            <div class="col-6">
                <h2 style="margin-top: 10px;margin-left: 10px;">{{ .Filter}}</h2>
            </div><!-- End: postheader -->
            <!-- Start: categoryColumn -->
            <div class="col-6">
                <!-- Start: Category -->
                <form id="dropdow"><select class="form-select" style="margin-top: 10px;" name="filter"
                        onchange="submit()">
                        <optgroup label="Categories">
                            <!-- <option disabled selected hidden>Categories</option> -->
                            <option>All Categories</option>
                            {{$filter := .Filter}}
                            {{ range .Threads}}
                            {{if eq . $filter}}
                            <option disabled selected>{{ . }}</option>
                            {{else}}
                            <option>{{ . }}</option>
                            {{end}}
                            {{end}}
                        </optgroup>
                    </select></form><!-- End: Category -->
            </div><!-- End: categoryColumn -->
        </div><!-- End: psotCategoryDiv -->
        {{template "post" .}}
    </div>
</div><!-- End: post-menu-container -->
{{end}}
{{define "script"}}
<!-- <script>
    const scrollTo = "{{.ScrollTo}}";
    post = document.getElementById('post-'+scrollTo);
    post.scrollIntoView({ block: "center" });
</script> -->
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = sessionStorage.getItem('scrollpos');
        if (scrollpos) {
            window.scrollTo({
                top: scrollpos,
                behavior: 'instant',
            });
            sessionStorage.removeItem('scrollpos');
        }
    });
    document.querySelectorAll('.reaction-form').forEach(item => {
        item.addEventListener('submit', event => {
            sessionStorage.setItem('scrollpos', window.scrollY);
        })
    })
    function submit() {
        let form = document.getElementById("dropdown");
        form.submit();
        console.log("Data stored in database!");
    }
</script>
{{end}}