{{template "base" .}}
{{define "title"}}Forum - My Posts{{end}}
{{define "username"}}{{.User.Username}}{{end}}
{{define "heading"}}All my posts{{end}}
{{define "content"}}
<!-- Start: post-menu-container -->
<div class="container-fluid">
    <div class="float-end" id="divpost">
        {{template "filterBar" .}}
        {{template "post" .}}
    </div>
</div><!-- End: post-menu-container -->
{{end}}

{{define "script"}}
<script>
    function submit() {
        let form = document.getElementById("dropdown");
        form.submit();
    }
</script>
{{end}}